#menuhorizontal {
  margin:0;
  padding:0;
  list-style-type:none;
}
#menuhorizontal a {
  width:312px;
  text-decoration:none;
  text-align:center;
  color:#ff0000;
  background-color:#f7f8e8;
  padding:6px 10px;
  border-right:3px solid blue;
  display:block;
}
#menuhorizontal li {
  float:left;
}

#menuhorizontal a:hover {
  background-color:#336699;
}

h1 {
  text-align: center;
}
body {
    background-color: #badfec;
}