title {
   	font-family: "Times New Roman", Times, serif;
   	font-size: 27px;
    	letter-spacing: -0.6px;
word-spacing: 2px;
color: #FF6C85;
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: small-caps;
text-transform: none; 
}

